@import "~bootstrap/scss/bootstrap.scss";

body {
    background: white;
}

button {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.light {
   box-shadow: 5px 5px 60px yellow;
}

.top {
    background-color: black;
    height: 169px;
    width: 41px;
    border-radius: 10px;
    margin: auto;
}

.container {
    background-color: black;
    height: 330px;
    width: 179px;
    border-radius: 10px;
    padding: 13px;
}

.mt-5, .my-5 {
    margin-top: 0rem !important;
}